*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Open Sans", sans-serif;
}


main{
background-color: #000;
color: #fff;
padding: 40px 0px;
font-size: 20px;
font-weight: bold;
}


.container{
  max-width: 1200px;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}
/*Coll*/
.col-25{
  width: 25%;
}

.col-50{
  width: 50%;
}

.col-100{
  width: 100%;
}

.col-75{
  width: 75%;
}

/*Utilities*/
.padding-20{
  padding: 20px 5px;
}

.display-flex{
  display: flex;
  align-items: center;
  margin-top: 30px;
}

/*custom*/ 
#menu{
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  height: 100%;
  padding-top: 55px;
}

#logo-header{
  padding: 15px;
}

#menu li{
  margin: 0px 10px;
}

#menu li a{
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

#menu li.active{
  border-bottom: 5px solid #0282f9;
}

#menu li.active a{
  color: #0282f9;
}

.blue-banner{
  background-color: #0282f9;
  padding: 30px 0px;
}

.icons-list{
  display: flex;
  justify-content: space-around;
}

.icons-list img{
 height: 75px;
 width: 75px;
 vertical-align: middle;
 margin-right: 15px;
 object-fit: contain;
}

.icons-list span{
  vertical-align: middle;
  color: #fff;
}


.middle-footer{
  height: 380px;
  background-image: url('../img/footer-bg.jpg');
}

.middle-footer h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 10px;
  color: white;
}

.column ul {
  list-style: none;
  color:#fff; 
}
.column ul li {
 font-size: 14px;
 cursor: pointer;
}


.background-dc{
  height: 380px;
  width: 80%;
  background-image: url('../img/dc-logo-bg.png');
  position: absolute;
  background-position: right;
  background-repeat: no-repeat;
}

.bottom-footer{
  height: 100px;
  background-color: #303030;
}

button{
    margin-top: 35px;
    color: #fff;
    background-color: #303030;
    padding: 10px 20px;
    cursor: pointer;
    border: 3px solid #0282f9;
}

.follow-us {
  color: #0282f9;
  margin-right: 10px;
  font-weight: bold;
}

.social-icons  {
  color: #999;
  margin-left: 10px;
  font-size: 18px;
  text-decoration: none;
  gap: 10px;
}