*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Open Sans", sans-serif;
}

header{
  padding: 15px 0px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}
/*Coll*/
.col-25{
  width: 25%;
}

.col-75{
  width: 75%;
}

/*Utilities*/
.align-items-center{
  align-items: center;
}

/*custom*/ 
#menu{
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  height: 100%;
  padding-top: 45px;
}

#menu li{
  margin: 0px 10px;
}

#menu li a{
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}